/*
* =====================================
    CLB angular template - v1.0.0
* =====================================
* 
*/

.otp-component {
  input {
    // max-width: 1ch;
    width: 52px;
    height: 52px;
    text-align: center;
  }
}
