/*
* =====================================
    KOMINIKE - v1.0.0
* =====================================
* 
* Copyright 2022 Nova Solutions (Pvt) Ltd. (https://novasolutionsteam.com.au)
* Coded by - Chanaka Lakshan Balasuriya (https://github.com/galactusclb)
*          - Dilshan Ramesh (https://github.com/Dilshan97)
*
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
*/

.avatar {
	// width: 50px;

	.avatar-inner {
		position: relative;
		// width: 40px;
		// min-width: 40px;
		// height: 40px;
		// border-radius: 8px;
		background: var(--placeholder-background-color);
		cursor: pointer;
		font-weight: 600;

		&.theme {
			// #EC9626
			&-pink {
				background: #ff95a7;
			}
			&-blue {
				background: #8ee5ff;
			}
			&-yellow {
				background: #fbdd80;
			}
			&-green {
				background: #c3d775;
			}
			&-red {
				background: #e45a5a;
				// background: #ec2626;
			}
		}

		&.isLoading {
			animation: pulse 700ms infinite alternate;
			cursor: wait;

			.online-indicator {
				animation: pulse-2 700ms infinite alternate;
			}
		}

		&.border-enable {
			outline: 4px solid rgb(255, 255, 255);
			border-radius: 6px;

			&.small {
				outline: 3px solid rgb(255, 255, 255);
				border-radius: 4px;
			}
		}

		span.user-img {
			width: 100%;
			height: 100%;
			border-radius: 8px;
			overflow: hidden;

			img {
				width: 100%;
				min-height: 100%;
				object-fit: cover;
			}
		}

		&.large {
			width: 40px;
			min-width: 40px;
			height: 40px;
			border-radius: 8px;
		}

		&.medium {
			width: 34px;
			min-width: 34px;
			height: 34px;
			border-radius: 6px;

			.online-indicator {
				width: 14px;
				bottom: -2px;
				right: -2px;
			}
		}

		&.small {
			width: 20px;
			min-width: 20px;
			height: 20px;
			border-radius: 6px;

			font-size: var(--txt-xs);

			.online-indicator {
				width: 11px;
				bottom: -3px;
				right: -3px;
				border-width: 2px;
			}
		}

		.online-indicator {
			position: absolute;
			bottom: 0px;
			right: 0px;
			border: 3px solid rgb(255, 255, 255);
			width: 15px;
			aspect-ratio: 1/1;
			border-radius: 50%;
			// background: var(--color-neutral-400);
			display: block;

			&.online {
				background: var(--color-success-500);
			}

			&.offline {
				background: var(--color-neutral-400);
			}

			&.dont-disturb {
				background: var(--color-error-500);
			}
		}
	}
}

@keyframes pulse {
	from {
		background-color: var(--color-neutral-200);
	}

	to {
		background-color: var(--color-neutral-100);
	}
}

@keyframes pulse-2 {
	from {
		background-color: var(--color-neutral-300);
	}

	to {
		background-color: var(--color-neutral-200);
	}
}
