/*
* =====================================
    CLB angular template - v1.0.0
* =====================================
* 
*/

$breakpoints: $grid-breakpoints !default;

// Gutters
//
// Make use of `.g-*`, `.gx-*` or `.gy-*` utilities to change spacing between the columns.
.mx-auto {
  margin-inline: auto;
}

.ms-auto {
  margin-left: auto;
}
.me-auto {
  margin-left: auto;
}

@each $breakpoint in map-keys($breakpoints) {
  $infix: breakpoint-infix($breakpoint, $breakpoints);

  @each $key, $value in $gutters {
    .g#{$infix}-#{$key} {
      gap: #{$value};
    }

    .gx#{$infix}-#{$key} {
      // --#{$variable-prefix}gutter-x: #{$value};
      column-gap: #{$value};
    }

    // .g#{$infix}-#{$key},
    .gy#{$infix}-#{$key} {
      // --#{$variable-prefix}gutter-y: #{$value};
      row-gap: #{$value};
    }
  }
}

// Margins
//
// Make use of `.m-*`, `.mx-*`,`.my-*`,`.ms-*`,`.me-*`,`.mt-*` or ,`.mb-*`  utilities to change spacing between the items.
// $margins: $margins !default;
@each $name, $margin in $spacing-amounts {
  .m-#{$name} {
    margin: $margin !important;
  }

  .mx-#{$name} {
    margin-left: $margin !important;
    margin-right: $margin !important;
  }

  .my-#{$name} {
    margin-top: $margin !important;
    margin-bottom: $margin !important;
  }

  .mt-#{$name} {
    margin-top: $margin !important;
  }

  .mb-#{$name} {
    margin-bottom: $margin !important;
  }

  .ms-#{$name} {
    margin-left: $margin !important;
  }

  .me-#{$name} {
    margin-right: $margin !important;
  }
}

// @for $i from 0 through length($margins) {
// 	$margin: 0;

// 	@if $i > 0 {
// 		$margin: nth($margins, $i);
// 	}

// 	.m-#{$i} {
// 		margin: $margin !important;
// 	}

// 	.mx-#{$i} {
// 		margin-left: $margin !important;
// 		margin-right: $margin !important;
// 	}

// 	.my-#{$i} {
// 		margin-top: $margin !important;
// 		margin-bottom: $margin !important;
// 	}

// 	.mt-#{$i} {
// 		margin-top: $margin !important;
// 	}

// 	.mb-#{$i} {
// 		margin-bottom: $margin !important;
// 	}

// 	.ms-#{$i} {
// 		margin-left: $margin !important;
// 	}

// 	.me-#{$i} {
// 		margin-right: $margin !important;
// 	}
// }

// Paddings
//
// Make use of `.p-*`, `.px-*`,`.py-*`,`.ps-*`,`.pe-*`,`.pt-*` or ,`.pb-*`  utilities to change spacing inside the iteps.
@each $name, $padding in $spacing-amounts {
  .p-#{$name} {
    padding: $padding !important;
  }

  .px-#{$name} {
    padding-left: $padding !important;
    padding-right: $padding !important;
  }

  .py-#{$name} {
    padding-top: $padding !important;
    padding-bottom: $padding !important;
  }

  .pt-#{$name} {
    padding-top: $padding !important;
  }

  .pb-#{$name} {
    padding-bottom: $padding !important;
  }

  .ps-#{$name} {
    padding-left: $padding !important;
  }

  .pe-#{$name} {
    padding-right: $padding !important;
  }
}
