/*
* =====================================
    CLB angular template - v1.0.0
* =====================================
* 
*/

@mixin hexToFil($color: #000, $opacity: 1) {
  $r: red($color) / 255;
  $g: green($color) / 255;
  $b: blue($color) / 255;
  $a: $opacity;

  $lightness: lightness($color);
  filter: invert($lightness) saturate(0%) brightness(0%) opacity($opacity);
}

@keyframes pulse {
  from {
    background-color: #dddddd;
  }

  to {
    background-color: #eeeeee;
  }
}
