/*
* =====================================
    CLB angular template - v1.0.0
* =====================================
* 
*/

::-webkit-scrollbar {
  background-color: var(--color-neutral-100);
}

::-webkit-scrollbar:horizontal {
  width: 10px;
  height: 4px;
}

::-webkit-scrollbar:vertical {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-neutral-300);
  border-radius: 6px;
}

// .header {
// 	@include themify($themes) {
// 		background: themed("colorBackground");
// 	}
// 	color: red !important;
// }
